:root{
--space-xxs:4px;--space-xs:8px;--space-sm:12px;--space-md:16px;--space-lg:20px;--space-xl:28px;--space-xxl:40px;--space-xxxl:56px;
--space-block:80px;--space-section:96px;--space-band:136px;
}
